*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
  line-height: 18px;
  color: #333;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1{
  display: block;
}

.top-text{
  margin: 33px;
}

a:hover{
  background-color: #000;
  color: #fff;
}

.top-link{
  color: #000;
}